@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');
body{
    font-family: 'IM Fell English SC', serif;
    text-align: center;
    background: cornsilk;
}

.container{
    margin-left: 600px;
    margin-top: 100px;
    position: relative;
    width: 350px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 14px 14px 20x lavenderblush, -14px 14px 20px floralwhite;

}

.brand-title{
     font-weight: 900;
     font-size: 40px;
     color: darkmagenta;
     letter-spacing: 1px;
     padding: 30px;
}

.inputs{
    text-align: center;
    margin: 0px;
}

label,input,button{
    width: 100%;
    border: none;
    outline: none;
    font-size: 20px;
}

input::placeholder{
    color: darkslategray;
}

input{
    width: 330px;
    background: deepskyblue;
    height: 50px;
    font-size: 14px;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px lavenderblush inset -6px -6px -6px floralwhite;
}

button{
    margin-top: 50px;
    width: 330px;
    background: firebrick;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 900;
    box-shadow: 6px 6px 6px floralwhite -6px -6px -6px white;
}

button:hover{
    box-shadow: none;
}
